.resume{ 
    @media only screen and (max-width: 360px){
        
        display: block;
        flex-wrap: wrap;  
        align-content: flex-start;
        width: 100%; 
        padding-left: 10px; 
        margin-left: 1vh;
    

      
    } 
    
}
.one{ 
    color: blue;
}
.two{
    color:rgb(25, 122, 139);
}   
.zero{
    color:rgb(214, 58, 58);
}
#flex{
    display: flex; 
    flex-wrap: wrap;  
}
@media only screen and (min-width: 360px) and (max-width: 1040px){  
    .resume{
        width: clamp(300px, 360px, 400px);
    }
    h3{ 
        font-weight: bolder;
        padding-left: 5%;
    }
    p{
        padding-left: 5%;
    } 
    
 
.resume_2{
padding-left: 5px; 
margin-left: 4px;
} 

}