.resume{ 
    @media only screen and (max-width: 360px){
        
        display: block;
        flex-wrap: wrap;  
        align-content: flex-start;
        width: 100%; 
        padding-left: 10px; 
        margin-left: 1vh;
    

      
    } 
    img {
  border-radius: 50%;
}
}