.fab{
    font-size: 60px; 
    @media only screen and (max-width: 360px){
      font-size: 30px; 
    }
} 

a:active{
    color: rgb(106, 255, 106)
} 
a{
    color: #61dafb;
} 

@media only screen and (max-width: 1080px) {
  a {
    color: lightblue;
  } 
  
  a:active{
      color: pink; 
  }
} 

.link{
    width: '100px';
    padding: '30px'; 
    border-radius: 5px;
    margin: '10px 10px 10px';
    background: rgb(76, 175, 241);
    color: 'white'; 
    @media only screen and (max-width: 360px){ 
      
      width: 75px; 
      padding: 15px; 
      border-radius: 10px; 
      margin: '5px 5px 5px';  
      background: rgb(0, 80, 150); 
      color: 'white';
    }
}  

 .link:active{
            background: 'darkblue'
                }
