.fab{
    font-size: 60px; 
    @media only screen and (max-width: 360px){
      font-size: 30px; 
    }
} 

a:active{
    color: rgb(106, 255, 106)
} 
a{
    color: #61dafb;
} 

@media only screen and (max-width: 1080px) {
  a {
    color: lightblue;
  } 
  
  a:active{
      color: pink; 
  }
} 

.link{
    width: 15px;
    padding: 5px; 
    border-radius: 5px;
    margin: 2px 2px 2px;
    background: rgb(76, 175, 241);
    color: 'white'; } 

    @media only screen and (max-width: 360px){ 
      .link{
      width: 15px; 
      padding: 2px; 
      border-radius: 5px; 
      margin: 1px 1px 1px;  
      background: rgb(76, 175, 241); 
      color: 'black'; }
    }


 .link:active{
            background: 'darkblue'
                }
