.fab{
    font-size: 60px;
} 

a:active{
    color: rgb(106, 255, 106)
} 
a{
    color: #61dafb;
} 

@media only screen and (max-width: 1080px) {
  a {
    color: lightblue;
  } 
  
  a:active{
      color: pink; 
  }
}